/* .displayRelative {
  height: auto;
  position: relative;
  z-index: 1;
  background-color: red;
  width: 1400px;
} */

/* .displayRelative {
  display: flex;
  position: fixed;
  justify-content: center;

  width: 100%;
  height: calc(var(--heighnavbar) + (var(--paddingnavbar) * 2));
  padding: var(--paddingnavbar) 0 var(--paddingnavbar) 0;
  margin: 0 auto;
  z-index: 1000;
  top: 0;
} */

/* 
.navbar-container {
  margin: 0 auto;
  top: 0;
  background-color: var(--colorlight);
  width: 100%;
  max-width: 1055px;
  height: calc(var(--heighnavbar) + (var(--paddingnavbar) * 2));

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--paddingnavbar) 0 var(--paddingnavbar) 0;
  z-index: 1000;

} */

.navbar-container {
  margin: 0 auto;
  top: 0;
  background-color: var(--colorlight);
  width: 100%;
  max-width: 1055px;
  /* height: var(--heighnavbar); */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--paddingnavbar) 0 var(--paddingnavbar) 0;
}
