.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.navbar-container {
  margin: 0 auto;
  top: 0;
  background-color: var(--colorlight);
  width: 1055px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--paddingnavbar) 0 var(--paddingnavbar) 0;
}

@media (min-width: 280px) and (max-width: 480px) {
  .navbar-container {
    width: 80vw;
    height: 8vh;
  }
}
