.navbar-list-container {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar-list-container-vertical {
  width: 79px;
  display: flex;
  justify-content: center;
}

.navbar-list,
.nav-list {
  width: auto;
  height: 20px;
  gap: 44px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
}

.list-column {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.navbar-list a,
.nav-list a {
  width: auto;
  display: inline-block;
  text-align: center;

  text-decoration: none;
  font: 400 14px "arial", sans-serif;
  line-height: 20px;
  color: #000000;
}

.nav-list a {
  align-self: flex-start;
}

.navbar-list a {
  align-self: center;
}

.list-column a {
  display: inline-block;
  text-align: start;
  align-content: flex-start;
}

.navbar-list a:before,
.nav-list a:before {
  display: block;
  /* font: bold 64px "arial", sans-serif; */
  content: attr(title);

  height: 0;

  line-height: 20px;
  overflow: hidden;
  visibility: hidden;
}

.navbar-list a:after,
.nav-list a:after {
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;

  content: "";
  position: relative;
  display: block;
  background-color: #000000;
  transition: 0.3s;
}

.navbar-list a:hover:after,
.nav-list a:hover:after {
  width: 100%;
}

.Shwburger,
.ShwTitle {
  display: none;
}

.Hideburger {
  display: none;
}

.navbar-list-title {
  display: none;
}

@media (min-width: 280px) and (max-width: 480px) {
  .navbar-list-title {
    display: inline-block;
  }

  .navbar-list-menu {
    width: 250px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 40px;
    right: 0;
    top: 0;
    padding: 32px 34px 0 16px;
    z-index: 1000;
    background-color: white;
  }

  .navbar-list {
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
  }

  .navbar-list a {
    text-align: start;
    align-self: flex-start;
  }

  .ShwTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .ShwTitle h4 {
    font: 700 14px "arial", sans-serif;
    line-height: 20px;
  }

  .Shwburger {
    background-image: url("../../assets/open-burger.png");
    background-color: #f1f3ff;
  }

  .Shwburger,
  .Shwburger2 {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    align-self: flex-end;
    transform: translate(80px, 0);
  }

  .Shwburger2 {
    transform: translate(0, 0);
    background-image: url("../../assets/close-burger.png");
    background-color: #ffffff;
  }

  /* .Shwburger:active {
    transform: translateX(0);
  } */
}
