.OurService-image {
  width: 459px;
  height: 428px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 280px) and (max-width: 480px) {
  .OurService-image {
    width: 80vw;
    height: auto;
  }
  .OurService-image img {
    width: 252px;
    height: 228px;
  }
}
