.OurService-wrapper {
  width: 100%;
  min-height: 428px;
  margin: 100px 0;
}

.OurService-container {
  margin: 0 auto;
  width: 1168px;
  height: auto;
  gap: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 280px) and (max-width: 480px) {
  .OurService-wrapper {
    width: 100%;
    min-height: 428px;
    margin: 50px 0;
  }

  .OurService-container {
    width: 80vw;
    flex-direction: column;
    gap: 24px;
  }
}
