.faq-wrapper {
  height: auto;
}

.faq-container {
  margin: 0 auto;
  width: 1168px;
  height: auto;
  min-height: 344px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 150px;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-content h1,
.faq-content p {
  width: 368px;
  height: 40px;
}

.faq-content h1 {
  font: 700 24px "arial", sans-serif;
  line-height: 36px;
}

.faq-content p {
  font: 700 14px "arial", sans-serif;
  line-height: 20px;
}

@media (min-width: 280px) and (max-width: 480px) {
  .faq-container {
    width: 80vw;
    height: 100%;
    flex-direction: column;
    gap: 24px;
    padding: 0px;
    margin-bottom: 50px;
  }
  .faq-content {
    width: 100%;
  }
  .faq-content h1,
  .faq-content p {
    width: 100%;
  }
}
