.hero-image {
  min-height: 100%;
  position: relative;
  /* background-color: black; */
}
.hero-image img {
  /* position: absolute; */
  width: 704px;
  height: 407px;

  right: 0px;
  bottom: 0px;
  /* transform: translateX(20%); */
}

@media (min-width: 280px) and (max-width: 480px) {
  .hero-image img {
    width: 344.22px;
    height: 199px;
  }
}
