.hero-button .hero-button-link {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  width: 140px;
  height: 36px;
  padding: 8px 12px;
  border-radius: 2px;
  background-color: #5cb85f;
  color: #ffffff;
  font: 700 14px "arial", sans-serif;
  text-decoration: none;
}

.hero-button a {
  text-decoration: none;
}
