.whyus-wrapper {
  width: 100%;
  min-height: 328px;
  /* width: 100%; */
}

.whyus-container {
  width: 1168px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 100px;
}

@media (min-width: 280px) and (max-width: 480px) {
  .whyus-container {
    width: 80vw;
    margin-bottom: 50px;
  }

  .whyus-container h2 {
    margin-bottom: 24px;
  }

  .whyus-container p {
    margin-bottom: 16px;
  }
}
